@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--macaron-light-backgroundColor);
  background-image: var(--macaron-light-backgroundImage);
}

html.app-dark {
  background-color: var(--macaron-dark-backgroundColor);
  background-image: var(--macaron-dark-backgroundImage);
}